.submit {
  padding: 5px;
  color: black;
  background-color: green;
  cursor: pointer;
}
.submit:disabled {
  color: black;
  background-color: gray;
  cursor: not-allowed;
}
span{
    font-size: medium;
    font-weight: bold;
}
.form-control{
    width: 25%;
}